.App {
  text-align: center;
}
input[type="file"] {
  display: none;
}


.container {
  display: flex;
  align-items: flex-start;
}

/* Style for each individual div element */
.container > div {
  min-width: 40%;
  display: flex;
  margin-bottom: 10px; /* Add margin between divs if needed */
}

/* Style for line number */
.line-number {
  flex: 0 0 auto;
  width: 30px; /* Adjust as needed */
  text-align: right;
  padding-right: 10px; /* Add spacing between line number and text */
}

/* Style for the textareas (original and translated) */
textarea {
  flex: 1;
  margin-left: 10px; /* Add spacing between original and translated text */
  max-width: 50vw;
  min-width: 0; /* Allow textareas to shrink when needed */
  background-color: none;
}